@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');
.menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto ;
	height: 12%;
    
}

.gomb {
	display: grid;
	background-color:darkcyan;
	color:white;
	text-align: center;
	align-items: center;
	text-decoration: none;
	margin-left: 2%;
	transition-duration: 0.5s;
}
.gomb:hover {
	background-color:aliceblue;
	color: black;
}
body{
    background-color: azure;
}
h2{
	color: rgb(0, 0, 0);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
	font-style: italic;
}
h1{
	color: rgb(0, 0, 0);
	font-family: "Gwendolyn", cursive;
font-weight: 700;
font-style: normal;
font-size: xx-large;
}
article{
	background-color: paleturquoise;
	border-style: dashed;
	text-align: center;
	border-radius: 3em;
}
iframe{
	width: 50%;
}
