
body{
    background-color:azure;
}
.menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto ;
	height: 2.5em;
    
}

.gomb {
	display: grid;
	background-color:darkcyan;
	color:white;
	text-align: center;
	align-items: center;
	text-decoration: none;
	margin-left: 1px;
	transition-duration: 0.5s;
}
.gomb:hover {
	background-color:aliceblue;
	color: black;
}
p{
    color:black;
    background-color: paleturquoise;
    margin:35em;
    border-radius: 7em;
    text-align: left;
    
    
}
.div{
    display: grid;
	height: 10em;
    background-image: url(kekvirag.png) ;
}

	h1{
		color: azure;
		font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
		font-style: italic;
	}


