@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');

body{
    background-color:azure;
}
.menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto ;
	height: 12%;
    
}

.gomb {
	display: grid;
	background-color:darkcyan;
	color:white;
	text-align: center;
	align-items: center;
	text-decoration: none;
	margin-left: 2%;
	transition-duration: 0.5s;
}
.gomb:hover {
	background-color:aliceblue;
	color: black;
}
p{
    color:black;
    
    margin:2%;
    border-radius: 1%;
    text-align: left;
    
    
}
header{
	background-color: aliceblue;
}
.div{
    display: grid;
	height: 50%;
    background-image: url(kekvirag.png) ;
}

	h1{
		color: azure;
		font-family: "Gwendolyn", cursive;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
	}
	footer{
		margin-top: 10em;
		
	}
	header{
		border-color: aliceblue;
		border-radius: 9em;
	}
	h2{
		color: darkcyan;
		
	}
	


