@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');
table {
	border: 0.1em solid black;
	border-collapse: calc();
}

td, th{
	border: 10% solid rgb(0, 0, 0);
	padding: 1em;
	text-align: center;
}

th {
	border-bottom: 2% solid black;
	background-color: lightgrey;
}

td {
	background-color: white;
}
body{
    background-color:azure;
}
.menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto ;
	height: 12%;
    
}

.gomb {
	display: grid;
	background-color:darkcyan;
	color:white;
	text-align: center;
	align-items: center;
	text-decoration: none;
	margin-left:2%;
	transition-duration: 0.5s;
}
.gomb:hover {
	background-color:aliceblue;
	color: black;
}
article{
	background-color: paleturquoise;
	border-style: dashed;
	border-color: aliceblue;
	border-radius: 2em;
	text-align: left;
	border-bottom: 3em;
	border-top: 3em;
	border-width: 0.3em;
	margin-right: 15em;
	margin-left: 15em;
}
h2{
	color: rgb(0, 0, 0);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
	font-style: italic;
}
h1{
	color: rgb(0, 0, 0);
	font-family: "Gwendolyn", cursive;
font-weight: 700;
font-style: normal;
font-size: xx-large;
}

