.menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto ;
	height: 2em;
    
}

.gomb {
	display: grid;
	background-color:darkcyan;
	color:white;
	text-align: center;
	align-items: center;
	text-decoration: none;
	margin-left: 1px;
	transition-duration: 0.5s;
}
.gomb:hover {
	background-color:aliceblue;
	color: black;
}
body{
    background-color: azure;
}
article{
	background-color:paleturquoise;
	border-radius: 5em;
	width: 50%;
	text-align: center;
}
img{
	width: 40%;
	border-style: dotted;
	border-color: darkcyan;
}
