@import url('https://fonts.googleapis.com/css2?family=Gwendolyn:wght@400;700&display=swap');table {
	border: 0.2em solid black;
	border-collapse: border-collapse();
    margin: 1%;
}

td, th{
	border: 0.1em solid darkgrey;
	
	text-align: center;
    font-family: 'Times New Roman', Times, serif;
	width:5%
    
}

th {
	border-bottom: 2px solid black;
	background-color: lightblue;
	width:5%
    
}

td {
	background-color: white;
	width: 5%;
}
body{
    background-color: azure;
}
.menu {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto ;
	height: 12%;
    
}

.gomb {
	display: grid;
	background-color:darkcyan;
	color:white;
	text-align: center;
	align-items: center;
	text-decoration: none;
	margin-left: 2%;
	transition-duration: 0.5s;
}
.gomb:hover {
	background-color:aliceblue;
	color: black;
}
.article1{
	background-color: paleturquoise;
	border-style: dotted;
	border-color: aliceblue;
	border-radius: 3em;
	text-align: center;
	border-bottom: 3em;
	border-top: 3em;
	border-width: 0.3em;
}
.article2{
	background-color: paleturquoise;
	border-style: dotted;
	border-color:aliceblue;
	margin-right: 3em;
	border-width: 0.3em;
	border-radius: 3em;
	border-top:3em;
	text-align: center;
	border-bottom: 3em;
	text-align: left;
	
}
h2{
	color: rgb(0, 0, 0);
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	
	font-style: italic;
}
h1{
	color: rgb(0, 0, 0);
	font-family: "Gwendolyn", cursive;
font-weight: 700;
font-style: normal;
font-size: xx-large;
}
